<div class="bg-dark">
   <!-- Icon Blocks Section -->
    <div id="aboutSection" class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-lg-65 text-center text-white mx-auto mb-5 mb-sm-9">
        <h1 class="h1 text-white">We believe that the moments your team share...</h1>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-md-4 col-sm-12 mb-7">
          <div class="card">
            <div class="card-body">
          <!-- Icon Blocks -->
            <div class="px-lg-3">
              <span class="d-block small text-center text-muted text-cap mb-3 mt-3">Moments of</span>
              <h2 class="text-center"><span class="text-dark text-highlight-primary">Connection</span></h2>

              <ul class="list-article mt-4">
                <li class="text-dark">That team trip that bonded you all</li>
                <li class="text-dark">That tricky conversation that got you all back on track</li>
                <li class="text-dark">That weird day you all discovered a mutual love of 90s pop</li>
              </ul>
            </div>   
  
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 col-sm-12 mb-7">
          <div class="card">
            <div class="card-body">
          <!-- Icon Blocks -->
            <div class="px-lg-3">
              <span class="d-block small text-center text-muted text-cap mb-3 mt-3">Moments of</span>
              <h2 class="text-center"><span class="text-dark text-highlight-primary">Inspiration</span></h2>

              <ul class="list-article mt-4">
                <li class="text-dark">That story you told that lifted spirits</li>
                <li class="text-dark">That message of encouragement that made everyones day</li>
                <li class="text-dark">That new way of working that changed the game</li>
              </ul>

            </div>   
          
          </div>
        </div>       

          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 col-sm-12 mb-7">
         <div class="card">
            <div class="card-body">
          <!-- Icon Blocks -->
            <div class="px-lg-3">
              <span class="d-block small text-center text-muted text-cap mb-3 mt-3">Moments of</span>
              <h2 class="text-center"><span class="text-dark text-highlight-primary">Celebration</span></h2>

              <ul class="list-article mt-4">
                <li class="text-dark">That pub session it's best to forget</li>
                <li class="text-dark">That brilliant presentation you helped smash out the park together</li>
                <li class="text-dark">That important new starter you all wanted to impress</li>
              </ul>

            </div>   
          
          </div>
        </div>  
          <!-- End Icon Blocks -->
      </div>


        <img class="img-fluid d-none d-md-block w-75 mx-auto mb-7" src="/svg/components/three-pointers.svg" alt="SVG Arrow">

      <div class="w-lg-65 text-center text-white mx-auto mb-5 mb-sm-9">
        <h2 class="h1 text-white mt-6">...Have the power to elevate your team's impact</h2>
      </div>

      <div class="container space-top-md-0 space-bottom-1 space-top-lg-0">
        <div class="text-center mx-lg-auto">

          <div class="mx-lg-auto">
            <img class="img-fluid" src="/img/video.png" alt="Image Description">
          </div>
        </div>
      </div>


</div>
 
</div>
</div>