<div class="bg-white">
  <div class="container space-top-2 space-top-md-2 space-bottom-md-2 space-top-lg-1 space-bottom-2 space-bottom-lg-4">


    <div class="container-fluid space-2 space-lg-0">
          <div class="row justify-content-sm-center align-items-lg-center text-center">

            <div class="col-sm-12 col-lg-8">
              <!-- Title -->
              <div class="mb-5">
                <h2 class="display-4 space-bottom-lg-0">Get started with Mo today</h2>
                <p>We're currently in beta but signup below to join our early bird list and get immediate  access as soon as we launch</p>
              </div>
              <!-- End Title -->

              <!-- Form -->
              <form class="js-validate">
                <label class="sr-only" for="signupSrEmail">Email address</label>
                <div class="input-group">
                  <input type="email" class="form-control" name="email" id="signupSrEmail" placeholder="Enter your email" aria-label="Email" required="">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-block btn-primary disabled">Sign up now</button>
                  </div>
                </div>
              </form>
              <!-- End Form -->
            </div>


          </div>
        </div>


    
    
    <!-- End Pricing -->
  </div>
</div>