 <!-- Hero Section -->
<div class="container space-top-1 space-top-md-3 space-top-lg-3">
  <div class="w-lg-75 text-center mx-lg-auto">
    <div class="mb-9">
      <h1 class="display-4 mb-4">Elevate your team, together</h1>
      <p class="lead">Mo isn’t just a collaboration tool - it’s an elevated way to experience your team. Teams that use Mo have stronger relationships, more empowered working environments and create greater opportunities for one another.</p>
    </div>
  </div>
</div>

 <!-- Hero Section -->
<div class="container space-top-md-0 space-top-lg-0">
  <div class="text-center mx-lg-auto">

    <div class="mx-lg-auto">
      <img class="img-fluid" src="/img/beforeafter.png" alt="Image Description">
    </div>
  </div>
</div>

<div class="container space-top-1 space-bottom-1 space-top-md-2 space-top-lg-2">
  <div class="w-lg-75 text-center mx-lg-auto">
    <div class="mb-9">
      <h2 class="mb-4">Finally, a collaboration tool that cares about your people</h2>
    </div>
  </div>
</div>

