 <!-- Hero Section -->
<div class="container-sm space-top-2 space-top-md-3 space-top-lg-3">
  <div class="w-lg-75 text-center mx-lg-auto">
    <div class="mb-9">
      <h1 class="mb-4">Amplify your team's moments with Mo</h1>
    </div>
  </div>
</div>

<div class="container space-0 space-lg-2">
  <div class="row justify-content-around">
    <div class="col-sm-12 col-lg-4">
      <div class="mb-5">
        <h2 class="mb-3">Moments of <span class="text-highlight-primary">Connection</span></h2>
        <p>Mo provides a safe space for your team to connect in together, wherever they are in the world. Bring back those spontaneous, water-cooler moments. Feel comfortable sharing how you're all really feeling. And find a natural a home to store your team's best memories.</p>
        <a class="btn btn-sm btn-secondary text-dark transition-3d-hover mt-4" href="" target="_blank">
                    Connect your team
                  </a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 d-none d-md-block">
      <img class="img-fluid shadow-lg" src="/img/connection.gif" alt="Image Description" style="border: 1px solid rgba(33,33,33,0.08); border-radius: 16px;";>
    </div>
  </div>
</div>

<div class="container space-0 space-lg-2 mb-4">
  <div class="row justify-content-around">
    <div class="col-sm-12 col-lg-4 d-none d-md-block">
      <div class="mb-5">
        <img class="img-fluid shadow-lg" src="/img/connection.gif" alt="Image Description" style="border: 1px solid rgba(33,33,33,0.08); border-radius: 16px;";>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <h2 class="mb-3">Moments of <span class="text-highlight-primary">Inspiration</span></h2>
        <p>Mo gently encourages your team to become leaders and to have each other's backs like never before. Help everyone find ways to express themselves. Encourage a culture of participation and align everyone around a common sense of purpose.</p>
        <a class="btn btn-sm btn-secondary text-dark transition-3d-hover mt-4" href="" target="_blank">
                    Inspire your team
                  </a>
    </div>
  </div>
</div>

<div class="container space-0 space-lg-2">
  <div class="row justify-content-around mb-10">
    <div class="col-sm-12 col-lg-4">
      <div class="mb-5">
        <h2 class="mb-3">Moments of <span class="text-highlight-primary">Celebration</span></h2>
        <p>Mo helps your team find authentic ways to show appreciation for one another. Incentivise your team’s progression. Place value on your teams culture. And share gifts and experiences that help everyone grow.</p>
        <a class="btn btn-sm btn-secondary text-dark transition-3d-hover mt-4" href="" target="_blank">
                    Celebrate your team
                  </a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 d-none d-md-block">
      <img class="img-fluid shadow-lg" src="/img/celebrate.gif" alt="Image Description" style="border: 1px solid rgba(33,33,33,0.08); border-radius: 16px;";>
    </div>
  </div>
</div>


</div>




