<div class="bg-white">  
  <div class="overflow-hidden">
    <div class="container space-top-4 space-bottom-2 space-top-md-4 space-top-lg-4 space-bottom-lg-2">
      <div class="row justify-content-lg-between align-items-md-center">
        <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
          <div class="mb-5">
            <h1 class="display-4 mb-3">Elevate your team</h1>
            <p class="lead">Mo provides a safe space for your team to connect in together - wherever they are in the world. Bring back those spontaneous, water-cooler moments. Feel comfortable sharing how you're all really feeling. And find a natural a place to capture your team's best moments.</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="position-relative">
            <img class="img-fluid" src="/img/connect.gif" alt="Image Description" style="border: 1px solid rgba(33,33,33,0.08); border-radius: 16px;" ;="">
            <div class="position-absolute top-0 right-0 w-100 h-100 rounded z-index-n1 mt-5 mr-n5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-sm space-top-2 space-bottom-2 space-top-md-2 space-top-lg-2 space-bottom-lg-0">
    <div class="row">
      <div class="col-md-4 mb-5 mb-md-0">
        <!-- Icon Blocks -->
        <div class="text-center px-lg-3">
          <h3>Connect</h3>
          <p>Encourage greater collaboration, make space to highlight your amazing team moments and build a rich history for everyone to look back on.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-md-4 mb-5 mb-md-0">
        <!-- Icon Blocks -->
        <div class="text-center px-lg-3">
          <h3>Inspire</h3>
          <p>Help your team understand what makes each other tick, provide an area to share those private moments and help everyone feel comfortable expressing themselves.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-md-4">
        <!-- Icon Blocks -->
        <div class="text-center px-lg-3">
          <h3>Celebrate</h3>
          <p>Allow people to curate their own experience, turn moments into rich stories worth sharing and provide tangible memories to remember your team.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

<div class="bg-lightest">
  <div class="container-sm space-top-2 space-bottom-2 space-top-md-3 space-top-lg-1">
    <div class="w-lg-75 text-center mx-lg-auto">
      <div class="">
        <h1 class="mb-4">Connect</h1>
      </div>
    </div>
  </div>
  <div class="container space-0 space-lg-2 space-bottom-lg-2">
      <div class="row justify-content-around">
        <div class="col-sm-12 col-lg-4">
          <div class="mb-5">
            <h2 class="mb-3">Team and group workspaces</h2>
            <p>Workspaces provide an environment for your team to connect in together. You can create them for every project, team or topic. Open workspaces encourage team collaboration and sharing. Closed workspaces provide psychological safety and privacy. </p>
            <a class="btn btn-sm btn-secondary text-dark transition-3d-hover mt-4 disabled" href="" target="_blank">
                     Learn more
             </a>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 d-none d-lg-block" style="padding: 48px; border: 1px solid rgba(33,33,33,0.08); ">
          <img class="img-fluid" src="/img/connect-1.png" alt="Image Description" style="border-radius: 0px;" ;="">
        </div>
      </div>
    </div>


    <div class="container space-0 space-lg-2 mb-4">
      <div class="row justify-content-around">
        <div class="col-sm-12 col-lg-4 d-none d-lg-block" style="padding: 48px; border: 1px solid rgba(33,33,33,0.08); ">
          <img class="img-fluid" src="/img/connect-2.png" alt="Image Description" style="border-radius: 0px;" ;="">
        </div>
        <div class="col-sm-12 col-lg-4">
          <h2 class="mb-3">Private messages and profiles</h2>
            <p>Private messages allow your team to connect on a more personal level, from sharing moments throughout their day to picking each other up when they need to. Profiles give everyone space to express themselves and to understand what makes each other tick. </p>
            <a class="btn btn-sm btn-secondary text-dark transition-3d-hover mt-4 disabled" href="" target="_blank">
                        Learn more
                      </a>
        </div>
      </div>
    </div>

    <div class="container space-0 space-lg-2">
      <div class="row justify-content-around mb-10">
        <div class="col-sm-12 col-lg-4">
          <div class="mb-5">
            <h2 class="mb-3">Timelines and storybooks</h2>

            <p>Timelines create a rich history of moments and activity for individuals and teams. They can be shared, searched and curated to inspire 1-1s and team meetings. Storybooks bring timelines to life in animated and engaging ways. Once fleeting moments now captured to unite and connect one another.</p>

            <a class="btn btn-sm btn-secondary text-dark transition-3d-hover mt-4 disabled" href="#" target="_blank">
                        Learn more
                      </a>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 d-none d-lg-block" style="padding: 48px; border: 1px solid rgba(33,33,33,0.08); ">
          <img class="img-fluid" src="/img/inspire-3.png" alt="Image Description" style="border-radius: 0px;" ;="">
        </div>
      </div>
    </div>

 

 <!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="/vendor/slick-carousel/slick/slick.js"></script>
  <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/vendor/hs-video-bg/dist/hs-video-bg.min.js"></script>
  <script src="/vendor/typed.js/lib/typed.min.js"></script>
  <script src="/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/vendor/aos/dist/aos.js"></script>

  <!-- JS Front -->
  <script src="/js/hs.core.js"></script>
  <script src="/js/hs.slick-carousel.js"></script>
  <script src="/js/hs.validation.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();

      // initialization of slick carousel
      $('.js-slick-carousel').each(function() {
        var slickCarousel = $.HSCore.components.HSSlickCarousel.init($(this));
      });

      // initialization of video on background
      $('.js-video-bg').each(function () {
        var videoBg = new HSVideoBg($(this)).init();
      });

      // initialization of text animation (typing)
      var typed = new Typed(".js-text-animation", {
        strings: ["modern", "creative", "professional"],
        typeSpeed: 70,
        loop: true,
        backSpeed: 40,
        backDelay: 2000
      });

      // initialization of form validation
      $('.js-validate').each(function () {
        var validation = $.HSCore.components.HSValidation.init($(this));
      });

      // initialization of aos
      AOS.init({
        duration: 650,
        once: true
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="/vendor/polifills.js"><\/script>');
  </script>

