<div class="bg-white">  
  <div id="home" class="container space-top-4 space-bottom-2 space-top-md-4 space-bottom-md-2 space-top-lg-4 space-bottom-lg-0">
      <div class="wow fadeIn" data-wow-duration="1s">
        <div class="w-lg-75 text-center mx-lg-auto">
          <div class="mb-0">
            <h1 class="display-4 mb-8">Build a high performing team you're proud of with Mo</h1>
          </div>
        </div>

         <div class="w-lg-75 mx-lg-auto">
          <img class="img-fluid shadow-sm" style="border-radius: 8px;" src="/img/mopage.png" alt="Image Description">
        </div>

      </div>
    </div>
  </div>

  <div class="container space-top-0 space-bottom-2 space-top-md-3 space-top-md-2 space-top-lg-3 space-bottom-lg-0">
    <div class="w-lg-85 text-center mx-lg-auto">
        <div class="mb-9">
          <p class="lead mb-8" style="font-size: 24px;">Mo is a simple collaboration tool that makes it easy to focus on all the human elements of creating a high performing team. It connects your people, encourages teamwork and helps you celebrate and get the best out of each other.</p>
        </div>
      </div>
    <div class="row space-top-lg-1">
        <div class="col-md-4 mb-5 mb-md-0">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <figure class="max-w-10rem mx-auto mb-4">
              <img class="img-fluid" src="/svg/icons/icon-560.svg" alt="SVG">
            </figure>
            <h3>Connect to your team's favourite tools</h3>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 mb-5 mb-md-0">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <figure class="max-w-10rem mx-auto mb-4">
              <img class="img-fluid" src="/svg/icons/icon-560.svg" alt="SVG">
            </figure>
            <h3>Encourage teamwork and progression</h3>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <figure class="max-w-10rem mx-auto mb-4">
              <img class="img-fluid" src="/svg/icons/icon-560.svg" alt="SVG">
            </figure>
            <h3>Celebrate and get the best from each other</h3>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>

    
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>


<div id="howitworks" class="bg-lightest">  
  <div class="container-fluid space-top-2 space-bottom-3 space-top-md-2 space-bottom-md-2 space-top-lg-0 space-bottom-lg-1">
      <div class="wow fadeIn" data-wow-duration="1s">
        <div class="w-lg-75 text-center mx-lg-auto">
          <div class="mb-0">
            <h1 class="display-4 space-bottom-2 space-bottom-lg-1 space-bottom-md-1 pt-5">Here's how Mo works</h1>
          </div>
        </div>

  <!-- Flickity HTML init -->
      <div class="carousel space-bottom-lg-0 wow fadeIn" data-wow-duration="2s" data-flickity='{ "imagesLoaded": true }'>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/1@2x.png"
              alt="Setup your team’s space <p style='max-width: 500px;margin: 0px auto;'>Get started with Mo in seconds. Setup your own, safe space to reflect your team’s purpose, values and way of working.</p>">
          </div>
          <div class="carousel-cell">
           <img class="img-fluid" src="/img/2@2x.png"
              alt="Invite your teammates <p style='max-width: 500px;margin: 0px auto;'>We make it easy to start connecting with your immediate circle. Either link Mo to an existing Slack channel, or send invites via email.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/car3.png"
              alt="Learn something new about each other <p style='width: 500px;margin: 0px auto;'>Rather than just filling out your own profile, we'll encourge your team to share interesting insights about each other from the off.</p>">
          </div>
          <div class="carousel-cell">
           <img class="img-fluid" src="/img/car4.png"
              alt="Connect in private <p style='width: 500px;margin: 0px auto;'>Use your team space to capture moments too good for Slack. Connect over the highs, lows, ups and downs of being a team.</p>">
          </div>
          <div class="carousel-cell">
             <img class="img-fluid" src="/img/carousel1.png"
              alt="Build greater team awareness<p style='width: 500px;margin: 0px auto;'>Expose important milestones and key dates worth remembering or celebrating and encourage more thoughtful contribution.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/carousel2.png"
              alt="Inspire growth and problem solving <p style='width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/carousel3.png"
              alt="Celebrate when it's right  <p style='width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/carousel4.png"
              alt="Turn moments into unforgettable stories <p style='width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/carousel4.png"
              alt="Connect with other teams <p style='width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/carousel4.png"
              alt="Visualise how you all work together <p style='width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
        </div>
        <p class="caption" style="font-size: 26px;">&nbsp;</p>
      </div>

  </div>
</div>



<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>


<div id="scroll-nav__2" class="bg-white">  
  <div class="container space-top-2 space-bottom-3 space-top-md-2 space-bottom-md-2 space-top-lg-0 space-bottom-lg-1">
     
        <!-- Title -->
       <div class="w-lg-75 text-center mx-lg-auto">
        <div class="mb-0">
          <h1 class="display-4 space-bottom-2 space-top-2 space-bottom-md-1 space-bottom-lg-2">Here's where Mo helps</h1>
        </div>
      </div>
        <!-- End Title -->

        <div class="row">
          <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
            <!-- Nav -->
            <ul class="nav nav-box" role="tablist">
              <li class="nav-item w-100 mx-0 mb-3">
                <a class="nav-link p-4 active" id="pills-one-code-features-tab" data-toggle="pill" href="#pills-four-code-features" role="tab" aria-controls="pills-four-code-features" aria-selected="true">
                  <div class="media align-items-center align-items-lg-start">
                    <figure class="w-100 max-w-6rem mt-2 mr-4">
                      <img class="img-fluid" src="/svg/icons/icon-560.svg" alt="SVG">
                    </figure>
                    <div class="media-body">
                      <h4 class="mb-0">Create a team that clicks</h4>
                      <div class="d-none d-lg-block mt-2">
                        <p class="text-body mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                </a>
              </li>

              <li class="nav-item w-100 mx-0 mb-3">
                <a class="nav-link p-4" id="pills-two-code-features-tab" data-toggle="pill" href="#pills-five-code-features" role="tab" aria-controls="pills-five-code-features" aria-selected="false">
                  <div class="media align-items-center align-items-lg-start">
                    <figure class="w-100 max-w-6rem mt-2 mr-4">
                      <img class="img-fluid" src="/svg/icons/icon-303.svg" alt="SVG">
                    </figure>
                    <div class="media-body">
                      <h4 class="mb-0">Make sure everyone's feeling valued</h4>
                      <div class="d-none d-lg-block mt-2">
                        <p class="text-body mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                </a>
              </li>

              <li class="nav-item w-100 mx-0">
                <a class="nav-link p-4" id="pills-three-code-features-tab" data-toggle="pill" href="#pills-six-code-features" role="tab" aria-controls="pills-six-code-features" aria-selected="false">
                  <div class="media align-items-center align-items-lg-start">
                    <figure class="w-100 max-w-6rem mt-2 mr-4">
                      <img class="img-fluid" src="/svg/icons/icon-270.svg" alt="SVG">
                    </figure>
                    <div class="media-body">
                      <h4 class="mb-0">Give everyone a story to share</h4>
                      <div class="d-none d-lg-block mt-2">
                        <p class="text-body mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <!-- End Nav -->
          </div>

          <div class="col-lg-7 order-lg-1 align-self-lg-center">
            <!-- Tab Content -->
            <div class="tab-content pr-lg-4">
              <div class="tab-pane fade show active" id="pills-four-code-features" role="tabpanel" aria-labelledby="pills-four-code-features-tab">
                <!-- Device Mockup -->
                <div class="device">
                  <img class="img-fluid" src="/svg/components/macbook.svg" alt="Image Description">
                  <img class="device-macbook-screen" src="/img/car1.png" alt="Image Description">
                </div>
                <!-- End Device Mockup -->
              </div>

              <div class="tab-pane fade" id="pills-five-code-features" role="tabpanel" aria-labelledby="pills-five-code-features-tab">
                <div class="device">
                  <img class="img-fluid" src="/svg/components/macbook.svg" alt="Image Description">
                  <img class="device-macbook-screen" src="/img/car1.png" alt="Image Description">
                </div>
              </div>

              <div class="tab-pane fade" id="pills-six-code-features" role="tabpanel" aria-labelledby="pills-six-code-features-tab">
                <!-- Device Mockup -->
                 <div class="device">
                  <img class="img-fluid" src="/svg/components/macbook.svg" alt="Image Description">
                  <img class="device-macbook-screen" src="/img/car1.png" alt="Image Description">
                </div>
                <!-- End Device Mockup -->
              </div>
            </div>
            <!-- End Tab Content -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>



<div class="bg-lightest">
  <div id="whymo" class="container space-top-2 space-bottom-2 space-top-md-2 space-bottom-md-2 space-top-lg-1 space-bottom-lg-1">
      <div class="wow fadeIn" data-wow-duration="2s">
        <div class="mx-lg-auto">
          <div class="mb-3">
            <h1 class="display-4 space-bottom-1 space-bottom-md-1 space-bottom-lg-1 text-center">What makes Mo different?</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-5 mb-md-0">
            <!-- Icon Blocks -->
            <div class="">
              <h2>A place you can trust</h2>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non. Proin dictum tellus eget mi pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4 mb-5 mb-md-0">
            <!-- Icon Blocks -->
            <div class="">
              <h2>A focus on connection</h2>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non. Proin dictum tellus eget mi pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4">
            <!-- Icon Blocks -->
            <div class="">
              <h2>A lasting impression</h2>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non. Proin dictum tellus eget mi pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>


<div class="bg-white">  
  <div class="overflow-hidden">
    <div class="container space-top-2 space-bottom-2 space-top-md-2 space-bottom-md-2 space-top-lg-1 space-bottom-lg-0">
      <!-- Title -->
      <div class="wow fadeIn" data-wow-duration="1s">
        <div class="mx-lg-auto text-center">
          <div class="mb-0">
            <h1 class="display-4 space-bottom-lg-1 space-bottom-md-1">How teams use Mo</h1>
          </div>
        </div>

      <!-- End Title -->

<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
      <!-- Icon Blocks -->
      <div class="row mb-5 mb-md-9 mt-6">
        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-0">Product</h2>
            </div>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-0">Engineering</h2>
            </div>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-0">Marketing</h2>
            </div>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-0">Customer Success</h2>
            </div>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-0">Sales</h2>
            </div>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-0">HR</h2>
            </div>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>

    </div>
  </div>
</div>


<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>





</div>

  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->




  <!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


  <!-- JS Implementing Plugins -->
  <script src="/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
  <script src="/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  
   <script src="/vendor/hs-scroll-nav/dist/hs-scroll-nav.min.js"></script>


  <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>


  <script src="/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/vendor/leaflet/dist/leaflet.js"></script>
  <script src="/vendor/aos/dist/aos.js"></script>

  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

  <!-- JS Front -->

  <script src="/js/hs.core.js"></script>
  <script src="/js/hs.validation.js"></script>
  <script src="/js/hs.leaflet.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        breakpoint: 'md'
      }).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of unfold
      $('.js-hs-search-unfold-invoker').each(function() {
        var searchUnfold = new HSUnfold($(this), {
          afterOpen: function() {
            $('#searchSlideDownControl').focus();
          }
        }).init();
      });

      // initialization of form validation
      $('.js-validate').each(function () {
        var validation = $.HSCore.components.HSValidation.init($(this));
      });

      // initialization of scroll nav
      var isClosed = false;

      $('.js-scroll-nav').each(function () {
        var scrollNav = new HSScrollNav($(this), {
          beforeShow: function () {
            if (window.innerWidth < 768) {
              $('#navBar').collapse('hide').on('hidden.bs.collapse', function () {
                isClosed = true;
              });
            } else {
              isClosed = true;
            }

            return isClosed;
          },
          afterShow: function () {
            isClosed = false;
          }
        }).init();
      });

      // initialization of leaflet
      var leaflet = $.HSCore.components.HSLeaflet.init($('#map')[0]);

      leaflet.fire('movestart');
      leaflet._rawPanBy([leaflet.getCenter().lng + 250, leaflet.getCenter().lat]);
      leaflet.fire('move');
      leaflet.fire('moveend');

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        id: 'mapbox/light-v9'
      }).addTo(leaflet);

      // initialization of aos
      AOS.init({
        duration: 650,
        once: true
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="/vendor/polifills.js"><\/script>');
  </script>

    <script type="text/javascript">
    var $carousel = $('.carousel').flickity({
      cellSelector: 'img',
      imagesLoaded: true,
      percentPosition: false,
    });

    var $caption = $('.caption');
    // Flickity instance
    var flkty = $carousel.data('flickity');

    $carousel.on( 'select.flickity', function() {
      $caption.html( $(flkty.selectedElement)[0].alt)
      var height = $('.caption').height() + 95
      $(".flickity-page-dots").css("bottom",`-${height}px`);
    });

    $('.main-carousel').flickity({
      cellAlign: 'left',
      contain: true
    })
  </script>

  <style type="text/css">
  $fragment_width: 25%;

.show-neighbors {
  overflow: hidden;

  .item__third:first-child,
  .item__third:last-child {
    display: none;
  }

  @media (min-width: 500px) {
    .carousel-indicators {
      margin-right: $fragment_width;
      margin-left: $fragment_width;
    }

    .carousel-control-prev,
    .carousel-control-next {
      background-color: rgba(255, 255, 255, 0.3);
      width: $fragment_width;
      z-index: 11;  /* .carousel-caption has z-index 10 */
    }

    .carousel-inner {
      width: (100% - 2 * $fragment_width) * 3;
      left: 3 * $fragment_width - 100%;
    }

    .carousel-item-next:not(.carousel-item-left),
    .carousel-item-right.active {
      -webkit-transform: translate3d(33%, 0, 0);
      transform: translate3d(33%, 0, 0);
    }

    .carousel-item-prev:not(.carousel-item-right),
    .carousel-item-left.active {
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0);
    }

    .item__third {
      display: block !important;
      float: left;
      position: relative;  /* captions can now be added */
      width: 33.33333333%;
    }
  }
}
</style>

