<div class="bg-white">  
  <div id="home" class="container space-top-4 space-bottom-3 space-top-md-4 space-bottom-md-2 space-top-lg-5 space-bottom-lg-1">
      <div class="wow fadeIn" data-wow-duration="1s">
        <div class="w-lg-75 text-center mx-lg-auto">
          <div class="mb-0">
            <h1 class="display-3 mb-4">Create a high performing team you're proud of</h1>
          </div>
        </div>
        <div class="w-lg-65 text-center mx-lg-auto">
          <div class="mb-9">
            <p class="lead mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non. Proin dictum tellus eget mi pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>

         <div class="w-lg-75 mx-lg-auto">
          <img class="img-fluid shadow-sm" style="border-radius: 8px;" src="/img/mopage.png" alt="Image Description">
        </div>

      </div>
    </div>
  </div>

  <div class="container space-top-0 space-bottom-2 space-top-md-3 space-top-md-2 space-top-lg-3 space-bottom-lg-0">
    <div class="row">
      <div class="col-md-4 mb-5 mb-md-0">
        <!-- Icon Blocks -->
        <div class="px-lg-3">
          <h2>Build better relationships</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-md-4 mb-5 mb-md-0">
        <!-- Icon Blocks -->
        <div class="px-lg-3">
          <h2>Help your team feel valued</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-md-4">
        <!-- Icon Blocks -->
        <div class="px-lg-3">
          <h2>Celebrate and evangelise</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>


<div id="howitworks" class="bg-lightest">  
  <div class="container-fluid space-top-2 space-bottom-3 space-top-md-2 space-bottom-md-2 space-top-lg-0 space-bottom-lg-1">
      <div class="wow fadeIn" data-wow-duration="1s">
        <div class="w-lg-75 text-center mx-lg-auto">
          <div class="mb-0">
            <h1 class="display-4 space-bottom-2 space-bottom-lg-1 space-bottom-md-1 pt-5">Here's how Mo works</h1>
          </div>
        </div>

  <!-- Flickity HTML init -->
      <div class="carousel space-bottom-lg-0 wow fadeIn" data-wow-duration="2s" data-flickity='{ "imagesLoaded": true }'>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/car1.png"
              alt="Claim your space <p style='max-width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/car2.png"
              alt="Connect from the start <p style='max-width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/car3.png"
              alt="Get to know each other <p style='width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/carousel4.png"
              alt="Customise your team workspace <p style='width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/carousel1.png"
              alt="Encourage personal connections <p style='width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/carousel2.png"
              alt="Inspire thoughtful actions <p style='width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/carousel3.png"
              alt="Understand your team's impact  <p style='width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/carousel4.png"
              alt="Celebrate your team's wins <p style='width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/carousel4.png"
              alt="Leave everyone with a story to tell <p style='width: 500px;margin: 0px auto;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>">
          </div>
        </div>
        <p class="caption" style="font-size: 26px;">&nbsp;</p>
      </div>

  </div>
</div>


<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>

<div class="bg-white">
  <div id="whymo" class="container space-top-2 space-bottom-2 space-top-md-2 space-bottom-md-2 space-top-lg-1 space-bottom-lg-1">
      <div class="wow fadeIn" data-wow-duration="2s">
        <div class="mx-lg-auto">
          <div class="mb-3">
            <h1 class="display-4 space-bottom-1 space-bottom-md-1 space-bottom-lg-1 text-center">What makes Mo different?</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-5 mb-md-0">
            <!-- Icon Blocks -->
            <div class="">
              <h2>A place you can trust</h2>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non. Proin dictum tellus eget mi pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4 mb-5 mb-md-0">
            <!-- Icon Blocks -->
            <div class="">
              <h2>A focus on connection</h2>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non. Proin dictum tellus eget mi pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4">
            <!-- Icon Blocks -->
            <div class="">
              <h2>A lasting impression</h2>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non. Proin dictum tellus eget mi pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>


<div class="bg-lightest">  
  <div class="overflow-hidden">
    <div class="container space-top-2 space-bottom-2 space-top-md-2 space-bottom-md-2 space-top-lg-1 space-bottom-lg-0">
      <!-- Title -->
      <div class="wow fadeIn" data-wow-duration="1s">
        <div class="mx-lg-auto text-center">
          <div class="mb-0">
            <h1 class="display-4 space-bottom-lg-1 space-bottom-md-1">Designed to enrich every team</h1>
          </div>
        </div>

      <!-- End Title -->

<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
      <!-- Icon Blocks -->
      <div class="row mb-5 mb-md-9 mt-6">
        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-0">Product</h2>
            </div>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-0">Engineering</h2>
            </div>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-0">Marketing</h2>
            </div>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-0">Customer Success</h2>
            </div>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-0">Sales</h2>
            </div>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-0">HR</h2>
            </div>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non.</p>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>

    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

 <!-- Works Section -->
<div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-white" data-options='{direction: "reverse"}'>
  <div class="dzsparallaxer--target">
    <div class="container-fluid px-lg-6">
      <div class="row justify-content-center">
        <div class="col-3 my-4 d-none d-lg-block" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"5", mid:"0", final:"3"}]'>
          <!-- Logo -->
          <div class="d-none d-md-block bg-white avatar avatar-xl rounded p-4 mx-auto">
            <img class="avatar-img" src="/img/160x160/slack.png" alt="Image Description">
          </div>
          <!-- End Logo -->
        </div>
        <div class="col-3 mb-4 d-none d-lg-block" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4.5", mid:"4.5", final:"4.5"}]'>
          <!-- Logo -->
          <div class="d-block avatar bg-white avatar-xl rounded mx-auto text-center">
            <img class="avatar-img" src="/svg/logos/mo-logo-dblue.svg" alt="Image Description" style="width: 72%; object-fit: none !important;">
          </div>
          <!-- End Logo -->
        </div>
        <div class="col-3 my-4 d-none d-lg-block" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"5", mid:"0", final:"3"}]'>
          <!-- Logo -->
          <div class="d-none d-md-block bg-white avatar avatar-xl rounded p-4 mx-auto">
            <img class="avatar-img" src="/img/160x160/teams.png" alt="Image Description">
          </div>
          <!-- End Logo -->
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-3 mb-4 d-none d-lg-block" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"7", mid:"0", final:"-7"}]'>
          <!-- Logo -->
          <div class="d-block bg-white avatar avatar-xl rounded p-4">
            <img class="avatar-img" src="/img/160x160/notion.png" alt="Image Description">
          </div>
          <!-- End Logo -->
        </div>
        <div class="col-3 my-4 d-none d-lg-block" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"7", mid:"0", final:"-7"}]'>
          <!-- Logo -->
          <div class="d-block bg-white avatar avatar-xl rounded p-4 ml-auto">
            <img class="avatar-img" src="/img/160x160/google.png" alt="Image Description">
          </div>
          <!-- End Logo -->
        </div>
      </div>

      <div class="row">
        <div class="col-3 offset-1 my-4 d-none d-lg-block" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"15", mid:"0", final:"-15"}]'>
          <!-- Logo -->
          <div class="d-none d-md-block bg-white avatar avatar-xl rounded p-4 ml-auto">
            <img class="avatar-img" src="/img/160x160/zoom.png" alt="Image Description">
          </div>
          <!-- End Logo -->
        </div>
        <div class="col-3 offset-2 my-4 d-none d-lg-block" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"11", mid:"0", final:"-11"}]'>
          <!-- Logo -->
          <div class="d-none d-md-block bg-white avatar avatar-xl rounded p-4 ml-auto">
            <img class="avatar-img" src="/img/160x160/monday.png" alt="Image Description">
          </div>
          <!-- End Logo -->
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-4 d-none d-lg-block" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"11", mid:"0", final:"-11"}]'>
          <!-- Logo -->
          <div class="d-block bg-white avatar avatar-xl rounded p-4 mx-auto">
            <img class="avatar-img" src="/img/160x160/dropbox.png" alt="Image Description">
          </div>
          <!-- End Logo -->
        </div>
        <div class="col-4 mt-6 d-none d-lg-block" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"5", mid:"0", final:"-5"}]'>
          <!-- Logo -->
          <div class="d-none d-sm-block bg-lightest avatar avatar-xl rounded p-4 mx-auto">
            <img class="avatar-img" src="/img/160x160/asana.png" alt="Image Description">
          </div>
          <!-- End Logo -->
        </div>
        <div class="col-4 mt-6 d-none d-lg-block" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"15", mid:"0", final:"-15"}]'>
          <!-- Logo -->
          <div class="d-block bg-white avatar avatar-xl rounded p-4 mx-auto">
            <img class="avatar-img" src="/img/160x160/drive.png" alt="Image Description">
          </div>
          <!-- End Logo -->
        </div>
      </div>
    </div>
  </div>

  <div class="container position-relative z-index-2">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto space-top-2 space-bottom-2 space-top-md-3 space-bottom-md-3 space-top-lg-3 space-bottom-lg-2">

      <h2 class="display-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">Built for every workflow</h2>
      <p class="wow fadeIn lead" data-wow-duration="1s" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo urna mattis non. Proin dictum tellus eget mi pharetra.</p>
    </div>
    <!-- End Title -->
  </div>

  <div class="position-absolute top-0 left-0 w-100 h-100 gradient-y-lg-white"></div>
</div>
<!-- End Works Section -->
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>



<div class="bg-lightest">  
  <div class="overflow-hidden">
    <div id="features" class="container space-top-2 space-top-md-2 space-bottom-md-2 space-bottom-lg-1 space-top-lg-1 space-bottom-2">

          <div class="w-lg-75 text-center mx-lg-auto">
          <div class="mb-0">
            <h1 class="display-4 space-bottom-2 space-bottom-md-1 space-bottom-lg-1">One platform to elevate your team</h1>
          </div>
        </div>

        <div class="w-lg-75 mx-lg-auto">
          <img class="img-fluid shadow-sm" style="border-radius: 8px;" src="/img/mopage.png" alt="Image Description">
        </div>


         <!-- Services Section -->
    <div class="container space-top-2 space-bottom-0 space-bottom-lg-2 space-top-lg-3">
      <!-- Title -->
      <div class="space-bottom-lg-0">
        <h1 class="space-bottom-1 space-top-1 space-bottom-md-1 space-top-md-2 text-center">An invite only safe space...</h1>
      </div>
      <!-- End Title -->
      <div class="row">
        <div class="col-lg-5 mb-3 mb-sm-5 mb-lg-0">
          <!-- Card -->
          <a class="card aos-init aos-animate" href="#" data-aos="fade-up">

            <article class="d-flex align-content-end flex-wrap h-100 p-4">
              <h3 class="">Team Spaces</h3>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies ex ante, ac commodo.</p>
              <span class="text-primary">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </article>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg mb-3 mb-sm-0">
          <!-- Card -->
          <a class="card transition-3d-hover aos-init aos-animate" href="#" data-aos="fade-up" data-aos-delay="150">


            <article class="d-flex align-content-end flex-wrap h-100 p-4">
              <h3>Values</h3>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             <span class="text-primary">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </article>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg">
          <!-- Card -->
          <a class="card transition-3d-hover aos-init aos-animate" href="#" data-aos="fade-up" data-aos-delay="200">

            <article class="d-flex align-content-end flex-wrap h-100 p-4">
              <h3>Integrations</h3>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="text-primary">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </article>
          </a>
          <!-- End Card -->
        </div>
      </div>
<!-- End Row -->

    </div>
  </div>
</div>
</section>


         <!-- Services Section -->
<div class="container space-md-1 space-lg-0">
      <!-- Title -->
      <div class="space-bottom-lg-1 space-bottom-md-2 space-bottom-1 space-top-lg-2 space-top-md-2 space-top-2">
        <h1 class="mb-3 text-center">...To connect, inspire and celebrate</h1>
      </div>
      <!-- End Title -->
      <div class="row">
        <div class="col-lg-4 mb-3 mb-sm-5 mb-lg-0">
          <!-- Card -->
          <a class="card aos-init aos-animate" href="#" data-aos="fade-up">

            <article class="d-flex align-content-end flex-wrap h-100 p-4">
              <h3 class="">Moments</h3>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             <span class="text-primary">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </article>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg mb-3 mb-sm-0">
          <!-- Card -->
          <a class="card transition-3d-hover aos-init aos-animate" href="#" data-aos="fade-up" data-aos-delay="150">


            <article class="d-flex align-content-end flex-wrap h-100 p-4">
              <h3>Profiles</h3>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="text-primary">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </article>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg">
          <!-- Card -->
          <a class="card transition-3d-hover aos-init aos-animate" href="#" data-aos="fade-up" data-aos-delay="200">

            <article class="d-flex align-content-end flex-wrap h-100 p-4">
              <h3>Milestones</h3>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             <span class="text-primary">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </article>
          </a>
          <!-- End Card -->
        </div>
      </div>
<!-- End Row -->

<div class="row mt-5">
        <div class="col-lg-5 mb-3 mb-sm-5 mb-lg-0">
          <!-- Card -->
          <a class="card aos-init aos-animate" href="#" data-aos="fade-up">

            <article class="d-flex align-content-end flex-wrap h-100 p-4">
              <h3 class="">Playbooks</h3>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit amet, consectetur adipiscing elit.</p>
              <span class="text-primary">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </article>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg mb-3 mb-sm-0">
          <!-- Card -->
          <a class="card transition-3d-hover aos-init aos-animate" href="#" data-aos="fade-up" data-aos-delay="150">


            <article class="d-flex align-content-end flex-wrap h-100 p-4">
              <h3>Polls</h3>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="text-primary">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </article>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg">
          <!-- Card -->
          <a class="card transition-3d-hover aos-init aos-animate" href="#" data-aos="fade-up" data-aos-delay="200">

            <article class="d-flex align-content-end flex-wrap h-100 p-4">
              <h3>Gifts</h3>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="text-primary">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </article>
          </a>
          <!-- End Card -->
        </div>
      </div>
<!-- End Row -->

    </div>



         <!-- Services Section -->
<div class="container space-2 space-top-lg-3 space-top-md-3">
      <!-- Title -->
      <div class="space-bottom-lg-1 space-bottom-md-1 space-top-2 space-bottom-1 space-bottom-2">
        <h1 class="mb-3 text-center">...So you can become a team you're all proud of</h1>
      </div>
      <!-- End Title -->
      <div class="row">
        <div class="col-lg-4 mb-3 mb-sm-5 mb-lg-0">
          <!-- Card -->
          <a class="card aos-init aos-animate" href="#" data-aos="fade-up">

            <article class="d-flex align-content-end flex-wrap h-100 p-4">
              <h3 class="">Stories</h3>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             <span class="text-primary">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </article>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg mb-3 mb-sm-0">
          <!-- Card -->
          <a class="card transition-3d-hover aos-init aos-animate" href="#" data-aos="fade-up" data-aos-delay="150">


            <article class="d-flex align-content-end flex-wrap h-100 p-4">
              <h3>Analytics</h3>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             <span class="text-primary">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </article>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg">
          <!-- Card -->
          <a class="card transition-3d-hover aos-init aos-animate" href="#" data-aos="fade-up" data-aos-delay="200">

            <article class="d-flex align-content-end flex-wrap h-100 p-4">
              <h3>Challenges</h3>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="text-primary">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </article>
          </a>
          <!-- End Card -->
        </div>
      </div>
<!-- End Row -->

</div>




    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>


  </div>
</div>

</div>

  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
  <script src="/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/vendor/hs-scroll-nav/dist/hs-scroll-nav.min.js"></script>
  <script src="/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/vendor/leaflet/dist/leaflet.js"></script>
  <script src="/vendor/aos/dist/aos.js"></script>

  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

  <!-- JS Front -->
  <script src="/js/hs.core.js"></script>
  <script src="/js/hs.validation.js"></script>
  <script src="/js/hs.leaflet.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        breakpoint: 'md'
      }).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of unfold
      $('.js-hs-search-unfold-invoker').each(function() {
        var searchUnfold = new HSUnfold($(this), {
          afterOpen: function() {
            $('#searchSlideDownControl').focus();
          }
        }).init();
      });

      // initialization of form validation
      $('.js-validate').each(function () {
        var validation = $.HSCore.components.HSValidation.init($(this));
      });

      // initialization of scroll nav
      var isClosed = false;

      $('.js-scroll-nav').each(function () {
        var scrollNav = new HSScrollNav($(this), {
          beforeShow: function () {
            if (window.innerWidth < 768) {
              $('#navBar').collapse('hide').on('hidden.bs.collapse', function () {
                isClosed = true;
              });
            } else {
              isClosed = true;
            }

            return isClosed;
          },
          afterShow: function () {
            isClosed = false;
          }
        }).init();
      });

      // initialization of leaflet
      var leaflet = $.HSCore.components.HSLeaflet.init($('#map')[0]);

      leaflet.fire('movestart');
      leaflet._rawPanBy([leaflet.getCenter().lng + 250, leaflet.getCenter().lat]);
      leaflet.fire('move');
      leaflet.fire('moveend');

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        id: 'mapbox/light-v9'
      }).addTo(leaflet);

      // initialization of aos
      AOS.init({
        duration: 650,
        once: true
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="/vendor/polifills.js"><\/script>');
  </script>

    <script type="text/javascript">
    var $carousel = $('.carousel').flickity({
      cellSelector: 'img',
      imagesLoaded: true,
      percentPosition: false,
    });

    var $caption = $('.caption');
    // Flickity instance
    var flkty = $carousel.data('flickity');

    $carousel.on( 'select.flickity', function() {
      $caption.html( $(flkty.selectedElement)[0].alt)
      var height = $('.caption').height() + 95
      $(".flickity-page-dots").css("bottom",`-${height}px`);
    });

    $('.main-carousel').flickity({
      cellAlign: 'left',
      contain: true
    })
  </script>

  <style type="text/css">
  $fragment_width: 25%;

.show-neighbors {
  overflow: hidden;

  .item__third:first-child,
  .item__third:last-child {
    display: none;
  }

  @media (min-width: 500px) {
    .carousel-indicators {
      margin-right: $fragment_width;
      margin-left: $fragment_width;
    }

    .carousel-control-prev,
    .carousel-control-next {
      background-color: rgba(255, 255, 255, 0.3);
      width: $fragment_width;
      z-index: 11;  /* .carousel-caption has z-index 10 */
    }

    .carousel-inner {
      width: (100% - 2 * $fragment_width) * 3;
      left: 3 * $fragment_width - 100%;
    }

    .carousel-item-next:not(.carousel-item-left),
    .carousel-item-right.active {
      -webkit-transform: translate3d(33%, 0, 0);
      transform: translate3d(33%, 0, 0);
    }

    .carousel-item-prev:not(.carousel-item-right),
    .carousel-item-left.active {
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0);
    }

    .item__third {
      display: block !important;
      float: left;
      position: relative;  /* captions can now be added */
      width: 33.33333333%;
    }
  }
}
</style>