<div class="bg-white">  
  <div id="whatsmo" class="container space-top-4 space-bottom-2 space-top-md-4 space-bottom-md-2 space-top-lg-4 space-bottom-lg-0">
      <div class="wow fadeIn" data-wow-duration="1s">
        <div class="w-lg-75 text-center mx-lg-auto">
          <div class="mb-0">
            <h1 class="display-4 mb-8">Build a high performing team you're proud of with Mo</h1>
          </div>
        </div>

        <div class="w-lg-75 mx-lg-auto">
        <img class="img-fluid shadow-lg" src="/img/car4.png" alt="Image Description">
      </div>

        <div class="w-lg-75 text-center mx-lg-auto">
           <div class="">
            <p class="lead space-bottom-lg-2 space-bottom-md-2 space-top-lg-1 space-top-md-2 space-top-sm-1 space-bottom-sm-2 space-bottom-2 space-top-1 mt-8" style="font-size: 24px;">Mo is a simple collaboration tool that makes it easy to focus on all the human elements of creating a high performing team. It brings your people together, encourages stronger teamwork and helps you build a happier, more productive team.</p>

          </div>
        </div> 

        <div class="row">
          <div class="col-md-4 mb-5 mb-md-0">
            <!-- Icon Blocks -->
            <div class="text-center px-lg-3">
              <figure class="max-w-10rem mx-auto mb-4">
                <img class="img-fluid" src="/svg/icons/space.svg" alt="SVG">
              </figure>
              <h3>An invitation only safe space</h3>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4 mb-5 mb-md-0">
            <!-- Icon Blocks -->
            <div class="text-center px-lg-3">
              <figure class="max-w-10rem mx-auto mb-4">
                <img class="img-fluid" src="/svg/icons/connect.svg" alt="SVG">
              </figure>
              <h3>To connect, inspire & celebrate</h3>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4">
            <!-- Icon Blocks -->
            <div class="text-center px-lg-3">
              <figure class="max-w-10rem mx-auto mb-4">
                <img class="img-fluid" src="/svg/icons/proud.svg" alt="SVG">
              </figure>
              <h3>And build a team you're proud of</h3>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>   
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>


<div id="howitworks" class="bg-lightest">  
  <div class="container-fluid space-top-2 space-bottom-3 space-top-md-2 space-bottom-md-2 space-top-lg-0 space-bottom-lg-1">
      <div class="wow fadeIn" data-wow-duration="1s">
        <div class="w-lg-75 text-center mx-lg-auto">
          <div class="mb-0">
            <h1 class="display-4 space-bottom-2 space-bottom-lg-1 space-bottom-md-1 pt-5">Here's how Mo works</h1>
          </div>
        </div>

  <!-- Flickity HTML init -->
      <div class="carousel space-bottom-lg-0 wow fadeIn" data-wow-duration="2s" data-flickity='{ "imagesLoaded": true }'>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/1.png"
              alt="Setup your team’s space <p style='max-width: 500px;margin: 0px auto;'>Get started with Mo in seconds. Setup your own private space to reflect your team’s purpose, values and way of working.</p>">
          </div>
          <div class="carousel-cell">
           <img class="img-fluid" src="/img/2.png"
              alt="Invite your teammates <p style='max-width: 500px;margin: 0px auto;'>We make it easy to start connecting with your immediate circle. Either link Mo to an existing Slack channel, or send invites via email.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/3.png"
              alt="Learn something new about each other <p style='width: 500px;margin: 0px auto;'>Rather than just filling out your own profile, we'll encourge your team to share interesting insights about each other from the off.</p>">
          </div>
          <div class="carousel-cell">
           <img class="img-fluid" src="/img/4.png"
              alt="Connect through moments <p style='width: 500px;margin: 0px auto;'>Use your team space to capture moments too good for Slack. Connect over the highs, lows, ups and downs of being a team.</p>">
          </div>
          <div class="carousel-cell">
             <img class="img-fluid" src="/img/5.png"
              alt="Build greater team awareness<p style='width: 500px;margin: 0px auto;'>Surface important team milestones and key dates worth remembering to encourage more thoughtful contribution.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/6.png"
              alt="Encourage stronger teamwork <p style='width: 500px;margin: 0px auto;'>Browse our collection of leadership guides and team playbooks to connect, inspire and grow together, whatever your stage.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/7.png"
              alt="Celebrate when it's right  <p style='width: 500px;margin: 0px auto;'>Mo comes with a store full of digital gift cards, making it easy to celebrate birthdays, team wins or just to make someone's day.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/8.png"
              alt="Turn moments into unforgettable stories <p style='width: 500px;margin: 0px auto;'>Most teams share moments that quickly turn into memories. Mo helps turn your moments into lasting stories worth taking with you.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/9.png"
              alt="Connect with other teams <p style='width: 500px;margin: 0px auto;'>We understand that you might be part of more than one team. Create multiple safe spaces or invite other teams and collaborate together.</p>">
          </div>
          <div class="carousel-cell">
            <img class="img-fluid" src="/img/10.png"
              alt="Visualise how you all work together <p style='width: 500px;margin: 0px auto;'>Understand your team dynamics, learn how to get the best out of each other and visualise your team in a whole new way</p>">
          </div>
        </div>
        <p class="caption" style="font-size: 26px;">&nbsp;</p>
      </div>

  </div>
</div>





<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>

<div class="bg-white">
  <div id="whymo" class="container space-top-2 space-bottom-2 space-top-md-2 space-bottom-md-2 space-top-lg-1 space-bottom-lg-1">
      <div class="wow fadeIn" data-wow-duration="2s">
        <div class="mx-lg-auto">
          <div class="mb-3">
            <h1 class="display-4 space-bottom-1 space-bottom-md-1 space-bottom-lg-1">What makes Mo different?</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-5 mb-md-0">
            <!-- Icon Blocks -->
            <div class="">
              <h2>A space you can trust</h2>
              <p class="">We’re here to have your back. Mo’s safe team spaces cannot be snooped. There are no master admin keys to track communication and your data is all stored anonymously. We believe great teams are built on trust - so we are too.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4 mb-5 mb-md-0">
            <!-- Icon Blocks -->
            <div class="">
              <h2>A tool that feels special</h2>
              <p class="">In a world of functional, productivity-focussed tools, Mo focuses on what it really feels like to connect as people. Mo’s designed to be your team’s escape - your precious space. So we work hard on making our software feel human.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4">
            <!-- Icon Blocks -->
            <div class="">
              <h2>An experience that lasts</h2>
              <p class="">So much of the connection we experience at work feels transient. Mo not only makes it easier than ever to capture truly important moments, but helps turn them into treasured assets to be shared, posted and cherished through time.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

<div class="bg-lightest">  
  <div class="overflow-hidden">
    <div class="container space-top-2 space-bottom-2 space-top-md-2 space-bottom-md-2 space-top-lg-1 space-bottom-lg-0">
      <!-- Title -->
      <div class="wow fadeIn" data-wow-duration="1s">
        <div class="mx-lg-auto">
          <div class="mb-0">
            <h1 class="display-4 space-bottom-1 space-bottom-md-1 space-bottom-lg-1">How teams use Mo</h1>
          </div>
        </div>

      <!-- End Title -->

<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
      <!-- Icon Blocks -->
      <div class="row mb-5 mb-md-9 mt-6">
        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-3">Product</h2>
            </div>
          </div>
          <!-- Features -->
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To gel better as a remote team
            </div>
          </div>
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To recognise each other’s great work
            </div>
          </div>
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To find ways to improve together
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-3">Engineering</h2>
            </div>
          </div>
          <!-- Features -->
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To better understand their team dynamics
            </div>
          </div>
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To capture team ideas and feedback
            </div>
          </div>
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To run their monthly team awards
            </div>
          </div>

          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
           <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-3">Marketing</h2>
            </div>
          </div>
          <!-- Features -->
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To gather end of quarter feedback
            </div>
          </div>
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To celebrate and amplify their culture
            </div>
          </div>
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To reward their top performers
            </div>
          </div>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-3">Customer Success</h2>
            </div>
          </div>
          <!-- Features -->
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To welcome new people to their team
            </div>
          </div>
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To share stories of their successes 
            </div>
          </div>
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To run monthly nominations and awards
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
           <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-3">Sales</h2>
            </div>
          </div>
          <!-- Features -->
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To incentivise better team performance
            </div>
          </div>
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To share stories of their wins
            </div>
          </div>
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
             To reward their A-players
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <!-- Icon Block -->
           <div class="media align-items-center mb-2">
            <div class="media-body">
              <h2 class="mb-3">HR</h2>
            </div>
          </div>
          <!-- Features -->
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To onboard new starters
            </div>
          </div>
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To demonstrate their culture
            </div>
          </div>
          <div class="media mb-4">
            <span class="icon icon-xs icon-soft-secondary icon-circle mr-3">
              <i class="fas fa-check"></i>
            </span>
            <div class="media-body text-dark">
              To visualise companywide engagement
            </div>
          </div>
        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>

    </div>
</div>
</div>
</div>



<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>







<div class="bg-white">
  <div id="features" class="container-sm space-top-md-1 space-bottom-md-1 space-top-sm-2 space-bottom-sm-1 space-bottom-lg-1 space-top-lg-1 space-top-2">
   <div class="mx-lg-auto">
          <div class="mb-0">
            <h1 class="display-4 space-bottom-1 space-bottom-md-1 space-bottom-lg-2">Core features</h1>
          </div>
        </div>
  </div>
 <div class="container space-0">

<div class="row">
          <div class="col-md-4 mb-5 mb-md-0">
            <!-- Icon Blocks -->  

            <div class="mb-5">
        <h2 class="mb-3">An invitation only safe space</h2>
        <p class="mb-4">An invite only team space that integrates with your workflow and gives everyone a place to bond how they feel comfortable</p>

        <div class="media mb-4">
          <span class="icon icon-xs icon-soft-primary icon-circle mr-3">
            <i class="fas fa-check"></i>
          </span>
          <div class="media-body text-dark">
            Team and personal feeds
          </div>
        </div>

        <div class="media mb-4">
          <span class="icon icon-xs icon-soft-primary icon-circle mr-3">
            <i class="fas fa-check"></i>
          </span>
          <div class="media-body text-dark">
            Public & private messaging
          </div>
        </div>

        <div class="media mb-4">
          <span class="icon icon-xs icon-soft-primary icon-circle mr-3">
            <i class="fas fa-check"></i>
          </span>
          <div class="media-body text-dark">
            Workflow integrations
          </div>
        </div>
        <a class="btn btn-sm btn-secondary text-dark mt-3 disabled" href="#">
              Learn more
            </a>


      </div>

            <!-- End Icon Blocks -->
  </div>

          <div class="col-md-4 mb-5 mb-md-0">
            <!-- Icon Blocks -->
            <h2 class="mb-3">To connect, inspire and celebrate</h2>
        <p class="mb-4">Gently encourage your people to come together and have each other's backs - so they feel more like a team than ever before</p>
        
        <div class="media mb-4">
          <span class="icon icon-xs icon-soft-primary icon-circle mr-3">
            <i class="fas fa-check"></i>
          </span>
          <div class="media-body text-dark">
            Playbooks & nudges
          </div>
        </div>

        <div class="media mb-4">
          <span class="icon icon-xs icon-soft-primary icon-circle mr-3">
            <i class="fas fa-check"></i>
          </span>
          <div class="media-body text-dark">
            Polls & feedback
          </div>
        </div>

        <div class="media mb-4">
          <span class="icon icon-xs icon-soft-primary icon-circle mr-3">
            <i class="fas fa-check"></i>
          </span>
          <div class="media-body text-dark">
            Gifts & celebrations
          </div>
        </div>
         <a class="btn btn-sm btn-secondary text-dark mt-3 disabled" href="#">
              Learn more
            </a>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4">
            <!-- Icon Blocks -->
            <div class="mb-5">
        <h2 class="mb-3">And build a team you're all proud of</h2>
        <p class="mb-4">Help your team understand their value, visualise progression and turn your fleeting memories into stories worth sharing</p>
        
        <div class="media mb-4">
          <span class="icon icon-xs icon-soft-primary icon-circle mr-3">
            <i class="fas fa-check"></i>
          </span>
          <div class="media-body text-dark">
            Goals & challenges
          </div>
        </div>

        <div class="media mb-4">
          <span class="icon icon-xs icon-soft-primary icon-circle mr-3">
            <i class="fas fa-check"></i>
          </span>
          <div class="media-body text-dark">
            Visual analytics & indicators
          </div>
        </div>

        <div class="media mb-4">
          <span class="icon icon-xs icon-soft-primary icon-circle mr-3">
            <i class="fas fa-check"></i>
          </span>
          <div class="media-body text-dark">
            Stories & highlights
          </div>
        </div>
         <a class="btn btn-sm btn-secondary text-dark mt-3 disabled" href="#">
              Learn more
            </a>
            <!-- End Icon Blocks -->
          </div>
        </div>   
    </div>
  </div>
</div>


<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f5f5" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,149.3C480,160,600,192,720,192C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->




  <!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


  <!-- JS Implementing Plugins -->
  <script src="/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
  <script src="/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  
   <script src="/vendor/hs-scroll-nav/dist/hs-scroll-nav.min.js"></script>


  <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>


  <script src="/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/vendor/leaflet/dist/leaflet.js"></script>
  <script src="/vendor/aos/dist/aos.js"></script>

  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

  <!-- JS Front -->

  <script src="/js/hs.core.js"></script>
  <script src="/js/hs.validation.js"></script>
  <script src="/js/hs.leaflet.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        breakpoint: 'md'
      }).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of unfold
      $('.js-hs-search-unfold-invoker').each(function() {
        var searchUnfold = new HSUnfold($(this), {
          afterOpen: function() {
            $('#searchSlideDownControl').focus();
          }
        }).init();
      });

      // initialization of form validation
      $('.js-validate').each(function () {
        var validation = $.HSCore.components.HSValidation.init($(this));
      });

      // initialization of scroll nav
      var isClosed = false;

      $('.js-scroll-nav').each(function () {
        var scrollNav = new HSScrollNav($(this), {
          beforeShow: function () {
            if (window.innerWidth < 768) {
              $('#navBar').collapse('hide').on('hidden.bs.collapse', function () {
                isClosed = true;
              });
            } else {
              isClosed = true;
            }

            return isClosed;
          },
          afterShow: function () {
            isClosed = false;
          }
        }).init();
      });

      // initialization of leaflet
      var leaflet = $.HSCore.components.HSLeaflet.init($('#map')[0]);

      leaflet.fire('movestart');
      leaflet._rawPanBy([leaflet.getCenter().lng + 250, leaflet.getCenter().lat]);
      leaflet.fire('move');
      leaflet.fire('moveend');

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        id: 'mapbox/light-v9'
      }).addTo(leaflet);

      // initialization of aos
      AOS.init({
        duration: 650,
        once: true
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="/vendor/polifills.js"><\/script>');
  </script>

    <script type="text/javascript">
    var $carousel = $('.carousel').flickity({
      cellSelector: 'img',
      imagesLoaded: true,
      percentPosition: false,
    });

    var $caption = $('.caption');
    // Flickity instance
    var flkty = $carousel.data('flickity');

    $carousel.on( 'select.flickity', function() {
      $caption.html( $(flkty.selectedElement)[0].alt)
      var height = $('.caption').height() + 95
      $(".flickity-page-dots").css("bottom",`-${height}px`);
    });

    $('.main-carousel').flickity({
      cellAlign: 'left',
      contain: true
    })
  </script>

  <style type="text/css">
  $fragment_width: 25%;

.show-neighbors {
  overflow: hidden;

  .item__third:first-child,
  .item__third:last-child {
    display: none;
  }

  @media (min-width: 500px) {
    .carousel-indicators {
      margin-right: $fragment_width;
      margin-left: $fragment_width;
    }

    .carousel-control-prev,
    .carousel-control-next {
      background-color: rgba(255, 255, 255, 0.3);
      width: $fragment_width;
      z-index: 11;  /* .carousel-caption has z-index 10 */
    }

    .carousel-inner {
      width: (100% - 2 * $fragment_width) * 3;
      left: 3 * $fragment_width - 100%;
    }

    .carousel-item-next:not(.carousel-item-left),
    .carousel-item-right.active {
      -webkit-transform: translate3d(33%, 0, 0);
      transform: translate3d(33%, 0, 0);
    }

    .carousel-item-prev:not(.carousel-item-right),
    .carousel-item-left.active {
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0);
    }

    .item__third {
      display: block !important;
      float: left;
      position: relative;  /* captions can now be added */
      width: 33.33333333%;
    }
  }
}
</style>

