<!-- ========== HEADER ========== -->
<header id="header" class="header header-box-shadow-on-scroll header-abs-top header-white-nav-links-lg header-bg-dark header-show-hide"
        data-hs-header-options='{
          "fixMoment": 300,
          "fixEffect": "slide"
        }'>
  <div class="header-section">

    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-lg">
               <!-- White Logo -->
        <a class="navbar-brand navbar-brand-default" href="/" aria-label="Front">
          <img src="/svg/logos/mo-logo-white.svg" alt="Logo" style="width: 70px; padding: 10px;">
        </a>
        <!-- End White Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span class="navbar-toggler-default">
            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
            </svg>
          </span>
          <span class="navbar-toggler-toggled">
            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
            </svg>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

<!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse">
          <div class="navbar-body header-abs-top-inner">
            <ul class="navbar-nav">

                <!--li class="hs-has-mega-menu navbar-nav-item">
                <a id="homeMegaMenu" class="hs-mega-menu-invoker nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Landings</a>

                <!-- Home - Mega Menu -->
                <div class="hs-mega-menu dropdown-menu w-100" aria-labelledby="homeMegaMenu">
                  <div class="row no-gutters">
                    <div class="col-lg-6">
                      <!-- Banner Image -->
                      <div class="navbar-banner" style="background-image: url(/img/750x750/img1.jpg);">
                        <div class="navbar-banner-content">
                          <div class="mb-4">
                            <span class="h2 d-block text-white">Branding Works</span>
                            <p class="text-white">Experience a level of our quality in both design &amp; customization works.</p>
                          </div>
                          <a class="btn btn-primary btn-sm transition-3d-hover" href="#">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></a>
                        </div>
                      </div>
                      <!-- End Banner Image -->
                    </div>

                    <div class="col-lg-6">
                      <div class="row mega-menu-body">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <span class="d-block h5">Classic</span>
                          <a class="dropdown-item" href="index.html">Agency</a>
                          <a class="dropdown-item" href="classic-analytics.html">Analytics <span class="badge badge-primary badge-pill ml-2">Hot</span></a>
                          <a class="dropdown-item" href="classic-studio.html">Studio</a>
                          <a class="dropdown-item" href="classic-marketing.html">Marketing</a>
                          <a class="dropdown-item" href="classic-advertisement.html" target="_blank">Advertisement <span class="badge badge-primary badge-pill ml-2">Hot</span></a>
                          <a class="dropdown-item" href="classic-consulting.html">Consulting</a>
                          <a class="dropdown-item" href="classic-portfolio.html">Portfolio</a>
                          <a class="dropdown-item" href="classic-software.html">Software</a>
                          <a class="dropdown-item" href="classic-business.html">Business</a>
                        </div>

                        <div class="col-sm-6">
                          <span class="d-block h5">App</span>
                          <div class="mb-3">
                            <a class="dropdown-item" href="app-ui-kit.html">UI Kit</a>
                            <a class="dropdown-item" href="app-saas.html">SaaS</a>
                            <a class="dropdown-item" href="app-workflow.html">Workflow</a>
                            <a class="dropdown-item" href="app-payment.html">Payment</a>
                            <a class="dropdown-item" href="app-tool.html">Tool</a>
                          </div>

                          <span class="d-block h5">Onepages</span>
                          <a class="dropdown-item" href="onepage-corporate.html">Corporate</a>
                          <a class="dropdown-item" href="onepage-saas.html">SaaS <span class="badge badge-primary badge-pill ml-2">Hot</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Home - Mega Menu -->
              </li>

              <li class="nav-item">
                <a class="nav-link" href="pages/whymo.html">Why Mo?</a>
              </li>

              <!-- Why Mo? -->
              <!--li class="hs-has-sub-menu navbar-nav-item">
                <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Why Mo?</a>

                <!-- Blog - Submenu -->
                <div id="blogSubMenu" class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
                  <a class="dropdown-item" href="pages/foryou.html">For You</a>
                  <a class="dropdown-item" href="pages/foryourteam.html">For Your Team</a>
                  <a class="dropdown-item" href="pages/foryourcompany.html">For Your Company</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item disabled" href="#">Customers</a>
                  <a class="dropdown-item disabled" href="#">Blog</a>
                </div>
                <!-- End Submenu -->
              </li>
              <!-- End Why Mo? -->

               <!-- How it works -->
              <li class="hs-has-sub-menu navbar-nav-item">
                <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">How it works</a>

                <!-- Blog - Submenu -->
                <div id="blogSubMenu" class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
                  <a class="dropdown-item" href="pages/connect.html">Feel More Connected</a>
                  <a class="dropdown-item" href="pages/inspire.html">Feel More Inspired</a>
                  <a class="dropdown-item" href="pages/celebrate.html">Feel More Celebrated</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="pages/measure.html">Measure The Imapct</a>
                </div>
                <!-- End Submenu -->
              </li>
              <!-- End how it works -->

                <!-- Pricing -->
              <li class="hs-has-sub-menu navbar-nav-item">
                <a id="blogMegaMenu" class="nav-link" href="pages/pricing.html" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Pricing</a>
              </li>

               <!-- End pricing -->

              <!-- Launch button -->
              <li class="navbar-nav-last-item">
                <a class="btn btn-sm btn-primary" href="#" target="_blank">
                  Launch Mo
                </a>
              </li>
              <!-- End Launch button -->
            </ul>
          </div>
        </div>
        <!-- End Navigation -->

      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->

<div class="bg-light">  
  <div class="container space-top-4 space-bottom-3 space-top-md-4 space-bottom-md-3 space-top-lg-5 space-bottom-lg-4">
      <div class="wow fadeIn" data-wow-duration="2s">
        <div class="mx-lg-auto">
          <div class="mb-3">
            <h1 class="display-4 mb-6">What makes Mo different?</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-5 mb-md-0">
            <!-- Icon Blocks -->
            <div class="">
              <h2>Connect as a team</h2>
              <p>Encourage greater collaboration, make space to highlight your amazing team moments and build a rich history for everyone to look back on.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4 mb-5 mb-md-0">
            <!-- Icon Blocks -->
            <div class="">
              <h2>Connect as people</h2>
              <p>Help your team understand what makes each other tick, provide an area to share those private moments and help everyone feel comfortable expressing themselves.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-md-4">
            <!-- Icon Blocks -->
            <div class="">
              <h2>Connect through stories</h2>
              <p>Allow people to curate their own experience, turn moments into rich stories worth sharing and provide tangible memories to remember your team.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">  
  <div class="container-fluid space-top-3 space-bottom-4 space-top-md-3 space-bottom-md-4 space-top-lg-3 space-bottom-lg-4">
      <div>
        <div class="w-lg-75 text-center mx-lg-auto">
          <div class="mb-0">
            <h1 class="mb-6 wow fadeIn" data-wow-duration="2s">How does Mo work? Take a tour!</h1>
          </div>
        </div>
      </div>

  <!-- Flickity HTML init -->
  <div class="carousel space-bottom-lg-0 wow fadeIn" data-wow-duration="2s" data-flickity='{ "imagesLoaded": true }'>
    <div class="carousel-cell">
      <img class="img-fluid" src="/img/car1.png" alt="Image Description">
    </div>
    <div class="carousel-cell">
      <img class="img-fluid" src="/img/car2.png" alt="Image Description">
    </div>
    <div class="carousel-cell">
      <img class="img-fluid" src="/img/car3.png" alt="Image Description">
    </div>
    <div class="carousel-cell">
      <img class="img-fluid" src="/img/carousel4.png" alt="Image Description">
    </div>
    <div class="carousel-cell">
      <img class="img-fluid" src="/img/carousel1.png" alt="Image Description">
    </div>
    <div class="carousel-cell">
      <img class="img-fluid" src="/img/carousel2.png" alt="Image Description">
    </div>
    <div class="carousel-cell">
      <img class="img-fluid" src="/img/carousel3.png" alt="Image Description">
    </div>
    <div class="carousel-cell">
      <img class="img-fluid" src="/img/carousel4.png" alt="Image Description">
    </div>
    <div class="carousel-cell">
      <img class="img-fluid" src="/img/carousel4.png" alt="Image Description">
    </div>
  </div>
</div>











<!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="/vendor/slick-carousel/slick/slick.js"></script>
  <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/vendor/hs-video-bg/dist/hs-video-bg.min.js"></script>
  <script src="/vendor/typed.js/lib/typed.min.js"></script>
  <script src="/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/vendor/aos/dist/aos.js"></script>

  <!-- JS Front -->
  <script src="/js/hs.core.js"></script>
  <script src="/js/hs.slick-carousel.js"></script>
  <script src="/js/hs.validation.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="https://unpkg.com/beerslider/dist/BeerSlider.js"></script>
  <script>
    new BeerSlider(document.getElementById('slider'));
  </script>

  <script type="text/javascript">
          $('.main-carousel').flickity({
        // options
        cellAlign: 'left',
        contain: true
      });
  </script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();

      // initialization of slick carousel
      $('.js-slick-carousel').each(function() {
        var slickCarousel = $.HSCore.components.HSSlickCarousel.init($(this));
      });

      // initialization of video on background
      $('.js-video-bg').each(function () {
        var videoBg = new HSVideoBg($(this)).init();
      });

      // initialization of text animation (typing)
      var typed = new Typed(".js-text-animation", {
        strings: ["modern", "creative", "professional"],
        typeSpeed: 70,
        loop: true,
        backSpeed: 40,
        backDelay: 2000
      });

      // initialization of form validation
      $('.js-validate').each(function () {
        var validation = $.HSCore.components.HSValidation.init($(this));
      });

      // initialization of aos
      AOS.init({
        duration: 650,
        once: true
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="/vendor/polifills.js"><\/script>');
  </script>


<script type="text/javascript">
  (function() {
  var Util,
    __bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };

  Util = (function() {
    function Util() {}

    Util.prototype.extend = function(custom, defaults) {
      var key, value;
      for (key in custom) {
        value = custom[key];
        if (value != null) {
          defaults[key] = value;
        }
      }
      return defaults;
    };

    Util.prototype.isMobile = function(agent) {
      return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(agent);
    };

    return Util;

  })();

  this.WOW = (function() {
    WOW.prototype.defaults = {
      boxClass: 'wow',
      animateClass: 'animated',
      offset: 0,
      mobile: true
    };

    function WOW(options) {
      if (options == null) {
        options = {};
      }
      this.scrollCallback = __bind(this.scrollCallback, this);
      this.scrollHandler = __bind(this.scrollHandler, this);
      this.start = __bind(this.start, this);
      this.scrolled = true;
      this.config = this.util().extend(options, this.defaults);
    }

    WOW.prototype.init = function() {
      var _ref;
      this.element = window.document.documentElement;
      if ((_ref = document.readyState) === "interactive" || _ref === "complete") {
        return this.start();
      } else {
        return document.addEventListener('DOMContentLoaded', this.start);
      }
    };

    WOW.prototype.start = function() {
      var box, _i, _len, _ref;
      this.boxes = this.element.getElementsByClassName(this.config.boxClass);
      if (this.boxes.length) {
        if (this.disabled()) {
          return this.resetStyle();
        } else {
          _ref = this.boxes;
          for (_i = 0, _len = _ref.length; _i < _len; _i++) {
            box = _ref[_i];
            this.applyStyle(box, true);
          }
          window.addEventListener('scroll', this.scrollHandler, false);
          window.addEventListener('resize', this.scrollHandler, false);
          return this.interval = setInterval(this.scrollCallback, 50);
        }
      }
    };

    WOW.prototype.stop = function() {
      window.removeEventListener('scroll', this.scrollHandler, false);
      window.removeEventListener('resize', this.scrollHandler, false);
      if (this.interval != null) {
        return clearInterval(this.interval);
      }
    };

    WOW.prototype.show = function(box) {
      this.applyStyle(box);
      return box.className = "" + box.className + " " + this.config.animateClass;
    };

    WOW.prototype.applyStyle = function(box, hidden) {
      var delay, duration, iteration;
      duration = box.getAttribute('data-wow-duration');
      delay = box.getAttribute('data-wow-delay');
      iteration = box.getAttribute('data-wow-iteration');
      return box.setAttribute('style', this.customStyle(hidden, duration, delay, iteration));
    };

    WOW.prototype.resetStyle = function() {
      var box, _i, _len, _ref, _results;
      _ref = this.boxes;
      _results = [];
      for (_i = 0, _len = _ref.length; _i < _len; _i++) {
        box = _ref[_i];
        _results.push(box.setAttribute('style', 'visibility: visible;'));
      }
      return _results;
    };

    WOW.prototype.customStyle = function(hidden, duration, delay, iteration) {
      var style;
      style = hidden ? "visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;" : "visibility: visible;";
      if (duration) {
        style += "-webkit-animation-duration: " + duration + "; -moz-animation-duration: " + duration + "; animation-duration: " + duration + ";";
      }
      if (delay) {
        style += "-webkit-animation-delay: " + delay + "; -moz-animation-delay: " + delay + "; animation-delay: " + delay + ";";
      }
      if (iteration) {
        style += "-webkit-animation-iteration-count: " + iteration + "; -moz-animation-iteration-count: " + iteration + "; animation-iteration-count: " + iteration + ";";
      }
      return style;
    };

    WOW.prototype.scrollHandler = function() {
      return this.scrolled = true;
    };

    WOW.prototype.scrollCallback = function() {
      var box;
      if (this.scrolled) {
        this.scrolled = false;
        this.boxes = (function() {
          var _i, _len, _ref, _results;
          _ref = this.boxes;
          _results = [];
          for (_i = 0, _len = _ref.length; _i < _len; _i++) {
            box = _ref[_i];
            if (!(box)) {
              continue;
            }
            if (this.isVisible(box)) {
              this.show(box);
              continue;
            }
            _results.push(box);
          }
          return _results;
        }).call(this);
        if (!this.boxes.length) {
          return this.stop();
        }
      }
    };

    WOW.prototype.offsetTop = function(element) {
      var top;
      top = element.offsetTop;
      while (element = element.offsetParent) {
        top += element.offsetTop;
      }
      return top;
    };

    WOW.prototype.isVisible = function(box) {
      var bottom, offset, top, viewBottom, viewTop;
      offset = box.getAttribute('data-wow-offset') || this.config.offset;
      viewTop = window.pageYOffset;
      viewBottom = viewTop + this.element.clientHeight - offset;
      top = this.offsetTop(box);
      bottom = top + box.clientHeight;
      return top <= viewBottom && bottom >= viewTop;
    };

    WOW.prototype.util = function() {
      return this._util || (this._util = new Util());
    };

    WOW.prototype.disabled = function() {
      return !this.config.mobile && this.util().isMobile(navigator.userAgent);
    };

    return WOW;

  })();

}).call(this);


wow = new WOW(
  {
    animateClass: 'animated',
    offset: 100
  }
);
wow.init();

</script>

<style type="text/css">
  $fragment_width: 25%;

.show-neighbors {
  overflow: hidden;

  .item__third:first-child, 
  .item__third:last-child {
    display: none;
  }

  @media (min-width: 500px) {
    .carousel-indicators {
      margin-right: $fragment_width;
      margin-left: $fragment_width;
    }

    .carousel-control-prev, 
    .carousel-control-next {
      background: rgba(255, 255, 255, 0.3);
      width: $fragment_width;
      z-index: 11;  /* .carousel-caption has z-index 10 */
    }

    .carousel-inner {
      width: (100% - 2 * $fragment_width) * 3;
      left: 3 * $fragment_width - 100%;
    }

    .carousel-item-next:not(.carousel-item-left),
    .carousel-item-right.active {
      -webkit-transform: translate3d(33%, 0, 0);
      transform: translate3d(33%, 0, 0);
    }

    .carousel-item-prev:not(.carousel-item-right),
    .carousel-item-left.active {
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0);
    }

    .item__third {
      display: block !important;
      float: left;
      position: relative;  /* captions can now be added */
      width: 33.33333333%;
    }
  }
}
</style>
